<!DOCTYPE html>
<html>
    <head>
        <title>Hippo blog</title>
    </head>
    <body>
        <header>
            <h1><a href="#">DJEGOMDÉ Blog</a></h1>
        </header>
      
        {% for post in posts %}
        <article>
           
            <h2><a href="https://fr.wikipedia.org/wiki/Pand%C3%A9mie_de_Covid-19">{{ post.title }}</a></h2>
            <time>published: {{ post.published_date }}</time>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>

      {% endfor %}
    
        <article>
            
        </article>
    </body>
</html>